@use '../../abstracts/mixins' as *;

.text-image-card {
    gap: 50px;

    .section-intro {
        width: 50%;

        .intro-header {
            gap: 32px;

            div {
                .section-title {
                    text-align: left;
                }

                .corner-icon {
                    height: fit-content;
                }
            }
        }
    }

    .section-image {
        width: 50%;
        height: 428px;
        overflow: hidden;
    }

    @include mq(tablet-landscape-up){
        gap: 32px;
        flex-direction: column;

        .section-intro{
            width: 100%;
        }

        .section-image{
            width: 100%;
        }
    }

}