.features-section {
    padding: 50px 200px;
    gap: 50px;

    .section-heading {
        gap: 16px;

        h1 {
            color: #2D2D2D;
            text-align: center;
            font-size: 32px;
            font-weight: 500;
        }

        .section-decription {
            color: rgba(45, 45, 45, 0.50);
            text-align: center;
            font-size: 14px;
            font-weight: 400;
        }

    }

    .section-cards {
        gap: 16px;

        .section-card {
            padding: 16px;
            border-radius: 6px;
            border: 1px solid #E9E9E9;
            background: #FFF;

            svg {
                margin-bottom: 12px;
            }

            .card-name {
                color: var(--Neutral-colors-Black, #010203);
                font-size: 18px;
                font-weight: 500;
                margin-bottom: 16px;
            }

            .card-description {
                color: var(--Neutral-colors-Black-50, rgba(1, 2, 3, 0.50));
                text-align: center;
                font-size: 14px;
                font-weight: 400;
            }

        }



    }

}