@use '../abstracts/mixins' as *;

.text-image-section {
    background: var(--Neutral-colors-Light-Gray, #F8F9FA);

    .text-side {
        padding: 100px 50px 100px 200px;
        width: 50%;
        gap: 16px;

        .title {
            color: var(--Brand-color-Brand-color, #C90200);
            font-size: 12px;
            font-weight: 400;
            text-transform: uppercase;
        }

        .description {
            color: var(--Neutral-colors-Black-50, rgba(1, 2, 3, 0.50));
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
        }
    }

    .image-side {
        width: 40%;

        img {
            @include img();
        }

    }

}