@use '../abstracts/mixins' as *;

.bottom-bar {
    padding: 16px 200px !important;
    background: #272729;

    div {
        gap: 72px;
    }

    span {
        color: var(--Neutral-colors-White, #FFF);
        text-align: center;
        font-size: 12px;
        font-weight: 400;
    }

    a {
        text-decoration: none;
        color: var(--Neutral-colors-White, #FFF);
        text-align: center;
        font-size: 12px;
        font-weight: 400;
    }

    .social-media-links {
        gap: 24px;

        a {
            width: 36px;
            height: 36px;
            padding: 10px;
            border-radius: 6px;
            border: 1px solid var(--Neutral-colors-White-50, rgba(255, 255, 255, 0.50));
            background: var(--Neutral-colors-White-15, rgba(255, 255, 255, 0.15));
            cursor: pointer;
            z-index: 9;
        }
    }

    @include mq(phone-only) {
        flex-direction: column;
        padding: 16px !important;
        gap: 16px;

        .privacy-and-policy {
            order: -1;
        }
    }

    .created-by-div{

        img{
            width: 25px;
            height: 20px;
    }


}
}