@use '../abstracts/mixins' as *;

header {
    padding: 8px 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    @include mq(phone-only) {
        padding: 12px 24px;
        justify-content: space-around;

        nav {
            display: none;
        }

        .header-actions {
            display: none !important;
        }

        .canvas-btn {
            display: block !important;
        }
    }

    .logo {
        width: 100px;
        height: 40px;

        img {
            @include img();
        }
    }

    nav {
        padding: 8px 0;

        .nav-tabs {

            border: none;

            .nav-item,
            .dropdown {

                .nav-link {
                    @include flex(center, center, 8px);
                    color: var(--Neutral-colors-Black, #010203);
                    font-size: 14px;
                    font-weight: 400;
                    border: none;
                    outline: none;
                    box-shadow: none;

                    &:hover,
                    &:focus,
                    &:active {
                        border: none;
                        outline: none;
                        box-shadow: none;
                    }
                }


                .dropdown-menu {
                    padding: 32px 24px;
                    min-width: 307px;
                    border: none;

                    .dropdown-item {
                        @include flex(space-between, center);
                        padding: 12px;
                        color: rgba(1, 2, 3, 0.70);
                        font-size: 16px;
                        font-weight: 500;

                        &:hover {
                            background-color: transparent;
                        }
                    }

                }

            }

        }

        .dropdown-toggle::after {
            display: none;
        }

    }

    .header-actions {
        gap: 12px;

        button {
            font-size: 14px;
        }

        .btn-group {

            .dropdown-toggle::after {
                display: none;
            }

            .select-language {
                border-radius: 6px;
                background: var(--Neutral-colors-Light-Gray-15, rgba(190, 190, 190, 0.15));
            }

        }

        .dropdown-menu {
            padding: 16px;

            .dropdown-item {
                padding: 0;


                &:hover {
                    background-color: transparent;
                }
            }
        }
    }

    .canvas-btn {
        display: none;
        background-color: transparent;
        border: none;
    }

    .offcanvas {

        .header-actions {
            display: flex !important;
            margin-top: 70px;
        }

        &-header {
            .btn-close {
                margin-left: 0;
            }
        }

        &-body {

            #infoAccordion {
                --bs-accordion-border-width: 0;
                --bs-accordion-inner-border-radius: 0;
                --bs-accordion-btn-focus-box-shadow: none;
                --bs-accordion-active-bg: transparent;
            }

            .accordion {

                &-item {

                    .accordion-header {

                        .accordion-button {
                            padding: 16px 0;
                            border-bottom: 1px solid var(--gray-white-gray-60, #EBEBEB);
                            color: var(--Neutral-colors-Black, #010203);
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 24px;
                        }
                    }

                    .collapse {

                        .accordion-body {

                            .list-group {
                                &-item {
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
                                    padding: 16px;
                                    color: var(--Neutral-colors-Dark-Gray, #3C3C3C);
                                    font-size: 18px;
                                    font-style: normal;
                                    font-weight: 500;
                                    line-height: 24px;
                                }
                            }
                        }

                    }
                }
            }
        }
    }

}