@use '../abstracts/mixins' as *;

.topbar {
    gap: 24px;
    background: #272729;
    padding: 8px 50px;

    div {
        gap: 12px;

        span {
            color: var(--Neutral-colors-White, #FFF);
            font-size: 12px;
            font-weight: 400;
        }

    }


}