@use '../abstracts/mixins' as *;

.topbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 24px;
    background: #272729;
    padding: 8px 200px;
    position: sticky;
    top: 0;
    z-index: 9999;

    @include mq(tablet-landscape-up){
        justify-content: center;
        padding: 8px 16px;
    }

    a {
        gap: 12px;
        background-color: transparent;
        border: none;
        text-decoration: none;

        span {
            color: var(--Neutral-colors-White, #FFF);
            font-size: 12px;
            font-weight: 400;
            text-wrap: nowrap;
        }

    }


}