@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.topbar {
  gap: 24px;
  background: #272729;
  padding: 8px 50px;
}
.topbar div {
  gap: 12px;
}
.topbar div span {
  color: var(--Neutral-colors-White, #FFF);
  font-size: 12px;
  font-weight: 400;
}

header {
  padding: 8px 100px;
}
header .logo {
  width: 100px;
  height: 40px;
}
header .logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
header nav {
  padding: 8px 0;
}
header nav .nav-tabs {
  border: none;
}
header nav .nav-tabs .nav-item .nav-link,
header nav .nav-tabs .dropdown .nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: "row";
  gap: 8px;
  color: var(--Neutral-colors-Black, #010203);
  font-size: 14px;
  font-weight: 400;
  border: none;
  outline: none;
  box-shadow: none;
}
header nav .nav-tabs .nav-item .nav-link:hover, header nav .nav-tabs .nav-item .nav-link:focus, header nav .nav-tabs .nav-item .nav-link:active,
header nav .nav-tabs .dropdown .nav-link:hover,
header nav .nav-tabs .dropdown .nav-link:focus,
header nav .nav-tabs .dropdown .nav-link:active {
  border: none;
  outline: none;
  box-shadow: none;
}
header nav .nav-tabs .nav-item .dropdown-menu,
header nav .nav-tabs .dropdown .dropdown-menu {
  padding: 32px 24px;
  min-width: 307px;
  border: none;
}
header nav .nav-tabs .nav-item .dropdown-menu .dropdown-item,
header nav .nav-tabs .dropdown .dropdown-menu .dropdown-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: "row";
  gap: 0;
  padding: 12px;
  color: rgba(1, 2, 3, 0.7);
  font-size: 16px;
  font-weight: 500;
}
header nav .dropdown-toggle::after {
  display: none;
}
header .header-actions {
  gap: 12px;
}
header .header-actions button {
  font-size: 14px;
}
header .header-actions .btn-group .dropdown-toggle::after {
  display: none;
}
header .header-actions .btn-group .select-language {
  border-radius: 6px;
  background: var(--Neutral-colors-Light-Gray-15, rgba(190, 190, 190, 0.15));
}

footer {
  background: var(--Neutral-colors-Light-Gray, #F8F9FA);
  position: relative;
  padding: 32px 100px;
  gap: 40px;
  overflow: hidden;
}
footer .footer-bg-img {
  position: absolute;
  right: -550px;
  bottom: -100px;
  opacity: 0.03;
  width: 1300.386px;
  height: 645px;
  aspect-ratio: 1300.39/645;
  transform: scaleX(-1);
}
footer .footer-top {
  width: 30%;
  gap: 16px;
  padding-bottom: 50px;
}
footer .footer-top span {
  color: var(--Neutral-colors-Black-50, rgba(1, 2, 3, 0.5));
  font-size: 12px;
  font-weight: 400;
}
footer .footer-bottom {
  z-index: 9;
  gap: 100px;
}
footer .footer-bottom div {
  gap: 12px;
}
footer .footer-bottom div span {
  color: var(--Neutral-colors-Dark-Gray, #3C3C3C);
  font-size: 14px;
  font-weight: 500;
}
footer .footer-bottom div a {
  color: var(--Neutral-colors-Black-50, rgba(1, 2, 3, 0.5));
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer !important;
}

.bottom-bar {
  padding: 16px 200px;
  background: #272729;
}
.bottom-bar div {
  gap: 72px;
}
.bottom-bar span {
  color: var(--Neutral-colors-White, #FFF);
  text-align: center;
  font-size: 12px;
  font-weight: 400;
}
.bottom-bar .social-media-links {
  gap: 24px;
}
.bottom-bar .social-media-links a {
  width: 36px;
  height: 36px;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid var(--Neutral-colors-White-50, rgba(255, 255, 255, 0.5));
  background: var(--Neutral-colors-White-15, rgba(255, 255, 255, 0.15));
  cursor: pointer;
  z-index: 9;
}

.features-section {
  padding: 50px 200px;
  gap: 50px;
}
.features-section .section-heading {
  gap: 16px;
}
.features-section .section-heading .section-title {
  color: var(--Brand-color-Brand-color, #C90200);
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}
.features-section .section-heading h1 {
  color: #2D2D2D;
  text-align: center;
  font-size: 32px;
  font-weight: 500;
}
.features-section .section-heading .section-decription {
  color: rgba(45, 45, 45, 0.5);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
}
.features-section .section-cards {
  gap: 16px;
}
.features-section .section-cards .section-card {
  padding: 16px;
  border-radius: 6px;
  border: 1px solid #E9E9E9;
  background: #FFF;
}
.features-section .section-cards .section-card svg {
  margin-bottom: 12px;
}
.features-section .section-cards .section-card .card-name {
  color: var(--Neutral-colors-Black, #010203);
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 16px;
}
.features-section .section-cards .section-card .card-description {
  color: var(--Neutral-colors-Black-50, rgba(1, 2, 3, 0.5));
  text-align: center;
  font-size: 14px;
  font-weight: 400;
}

.homepage-container .hero-section {
  position: relative;
  height: 585px;
}
.homepage-container .hero-section img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.homepage-container .hero-section .hero-content {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-20%, -50%);
}
.homepage-container .hero-section .hero-content h1 {
  color: var(--Neutral-colors-White, #FFF);
  font-size: 72px;
  font-weight: 500;
}
.homepage-container .hero-section .hero-content p {
  color: var(--Neutral-colors-White, #FFF);
  font-size: 14px;
  font-weight: 400;
}
.homepage-container .values-and-sustainability-section {
  padding: 70px 200px;
  background: var(--Neutral-colors-Light-Gray, #F8F9FA);
  gap: 37px;
}
.homepage-container .values-and-sustainability-section .section-intro {
  gap: 16px;
  width: 50%;
}
.homepage-container .values-and-sustainability-section .section-intro .section-title {
  color: var(--Brand-color-Brand-color, #C90200);
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}
.homepage-container .values-and-sustainability-section .section-intro .intro-name {
  color: var(--Neutral-colors-Black, #010203);
  font-size: 32px;
  font-weight: 500;
}
.homepage-container .values-and-sustainability-section .section-intro .intro-description {
  color: var(--Neutral-colors-Black-50, rgba(1, 2, 3, 0.5));
  font-size: 14px;
  font-weight: 400;
}
.homepage-container .values-and-sustainability-section .section-intro .intro-picture {
  margin-top: 16px;
  width: 362px;
  height: 217px;
}
.homepage-container .values-and-sustainability-section .section-intro .intro-picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.homepage-container .values-and-sustainability-section .section-cards {
  -moz-column-gap: 24px;
       column-gap: 24px;
}
.homepage-container .values-and-sustainability-section .section-cards .section-card {
  padding: 16px;
  gap: 16px;
}
.homepage-container .values-and-sustainability-section .section-cards .section-card .card-icon {
  padding: 8px;
  border-radius: 6px;
  background: var(--Neutral-colors-Light-Gray-15, rgba(190, 190, 190, 0.15));
  width: -moz-fit-content;
  width: fit-content;
}
.homepage-container .values-and-sustainability-section .section-cards .section-card .card-name {
  color: var(--Neutral-colors-Black, #010203);
  font-size: 18px;
  font-weight: 500;
}
.homepage-container .values-and-sustainability-section .section-cards .section-card .card-description {
  color: var(--Neutral-colors-Black, #010203);
  font-size: 14px;
  font-weight: 400;
}
.homepage-container .our-news-section {
  padding: 50px 100px;
  gap: 50px;
}
.homepage-container .our-news-section .our-news-video {
  width: 80%;
  height: 350px;
  border-radius: 6px;
  overflow: hidden;
}
.homepage-container .our-news-section .our-news-video img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.homepage-container .our-news-section .our-news-intro .section-title {
  color: var(--Brand-color-Brand-color, #C90200);
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}
.homepage-container .our-news-section .our-news-intro .intro-title {
  color: var(--Neutral-colors-Black, #010203);
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 16px;
}
.homepage-container .our-news-section .our-news-intro .intro-description {
  color: var(--Neutral-colors-Black-50, rgba(1, 2, 3, 0.5));
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 12px;
}
.homepage-container .our-news-section .our-news-intro .certificate {
  gap: 16px;
}
.homepage-container .our-news-section .our-news-intro .certificate .certificate-img {
  width: 224px;
  border-radius: 6px;
  overflow: hidden;
}
.homepage-container .our-news-section .our-news-intro .certificate .certificate-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.homepage-container .our-news-section .our-news-intro .certificate .certificate-infos .certificate-date {
  color: var(--Neutral-colors-Black-50, rgba(1, 2, 3, 0.5));
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 8px;
}
.homepage-container .our-news-section .our-news-intro .certificate .certificate-infos .certificate-title {
  color: var(--Neutral-colors-Black, #010203);
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 16px;
}
.homepage-container .our-news-section .our-news-intro .certificate .certificate-infos .learn-more {
  width: -moz-fit-content;
  width: fit-content;
  padding: 8px 16px;
  gap: 10px;
}

.homepage-container {
  background-color: #fff;
  padding: 0;
}
.homepage-container .hero-section {
  position: relative;
  height: 585px;
}
.homepage-container .hero-section img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.homepage-container .hero-section .hero-content {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-20%, -50%);
}
.homepage-container .hero-section .hero-content h1 {
  color: var(--Neutral-colors-White, #FFF);
  font-size: 72px;
  font-weight: 500;
}
.homepage-container .hero-section .hero-content p {
  color: var(--Neutral-colors-White, #FFF);
  font-size: 14px;
  font-weight: 400;
}
.homepage-container .homepage-services-section {
  padding: 50px 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}
.homepage-container .homepage-services-section .section-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}
.homepage-container .homepage-services-section .section-header .section-header-name {
  color: var(--Brand-color-Brand-color, #C90200);
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}
.homepage-container .homepage-services-section .section-header .section-header-title {
  color: #2D2D2D;
  text-align: center;
  font-size: 32px;
  font-weight: 500;
}
.homepage-container .homepage-services-section .section-header .section-header-info {
  color: rgba(45, 45, 45, 0.5);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
}
.homepage-container .values-section {
  background: var(--Neutral-colors-Light-Gray, #F8F9FA);
  padding: 70px 200px;
  gap: 32px;
}
.homepage-container .values-section .values-intro {
  gap: 16px;
}
.homepage-container .values-section .values-intro .section-title {
  color: var(--Brand-color-Brand-color, #C90200);
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}
.homepage-container .values-section .values-intro .intro-title {
  color: var(--Neutral-colors-Black, #010203);
  font-size: 32px;
  font-weight: 500;
}
.homepage-container .values-section .values-intro .intro-picture {
  width: 362px;
  height: 217px;
}
.homepage-container .values-section .values-intro .intro-picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.homepage-container .values-section .values-cards {
  gap: 24px;
}
.homepage-container .values-section .values-cards .values-card {
  gap: 16px;
  padding: 16px;
}
.homepage-container .values-section .values-cards .values-card .card-img {
  padding: 8px;
  border-radius: 6px;
  background: var(--Neutral-colors-Light-Gray-15, rgba(190, 190, 190, 0.15));
  width: -moz-fit-content;
  width: fit-content;
}
.homepage-container .values-section .values-cards .values-card .card-title {
  color: var(--Neutral-colors-Black, #010203);
  font-size: 18px;
  font-weight: 500;
}
.homepage-container .values-section .values-cards .values-card .card-description {
  color: var(--Neutral-colors-Black, #010203);
  font-size: 14px;
  font-weight: 400;
}
.homepage-container .our-news-section {
  padding: 50px 100px;
  gap: 50px;
}
.homepage-container .our-news-section .our-news-video {
  width: 595px;
  height: 350px;
  border-radius: 6px;
  overflow: hidden;
}
.homepage-container .our-news-section .our-news-video img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.homepage-container .our-news-section .our-news-intro .section-title {
  color: var(--Brand-color-Brand-color, #C90200);
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}
.homepage-container .our-news-section .our-news-intro .intro-title {
  color: var(--Neutral-colors-Black, #010203);
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 16px;
}
.homepage-container .our-news-section .our-news-intro .intro-description {
  color: var(--Neutral-colors-Black-50, rgba(1, 2, 3, 0.5));
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 12px;
}
.homepage-container .our-news-section .our-news-intro .certificate {
  gap: 16px;
}
.homepage-container .our-news-section .our-news-intro .certificate .certificate-img {
  width: 224px;
  border-radius: 6px;
  overflow: hidden;
}
.homepage-container .our-news-section .our-news-intro .certificate .certificate-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.homepage-container .our-news-section .our-news-intro .certificate .certificate-infos .certificate-date {
  color: var(--Neutral-colors-Black-50, rgba(1, 2, 3, 0.5));
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 8px;
}
.homepage-container .our-news-section .our-news-intro .certificate .certificate-infos .certificate-title {
  color: var(--Neutral-colors-Black, #010203);
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 16px;
}
.homepage-container .our-news-section .our-news-intro .certificate .certificate-infos .learn-more {
  width: -moz-fit-content;
  width: fit-content;
  padding: 8px 16px;
  gap: 10px;
}/*# sourceMappingURL=style.css.map */