@use '../abstracts/mixins' as *;

.catalogues-container {

    .catalogue-cards-container {
        padding: 100px 200px;

        .catalogue-cards {

            display: grid;

            grid-template-columns: repeat(3, 1fr);

            column-gap: 24px;
            row-gap: 50px;


        }

        @include mq(tablet-portrait-up) {
            padding: 50px 16px;

            .catalogue-cards{
                grid-template-columns: repeat(1, 1fr);
            }
        }

    }

}