.catalogues-container {

    .catalogue-cards-container {
        padding: 100px 200px;


        .catalogue-cards {

            display: grid;

            grid-template-columns: repeat(3, 1fr);

            column-gap: 24px;
            row-gap: 50px;


        }

    }






}