@use '../abstracts/mixins' as *;

.contact-us-page-container {

    .contact-us-form-container {
        padding: 100px 200px;

        .form-header {

            span {
                &:first-child {
                    color: #1D1C1C;
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 140%;
                }

                &:last-child {
                    color: var(--Neutral-colors-Dark-Gray, #3C3C3C);
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px;
                }
            }


        }

        .form-body {
            gap: 32px;

            .form-inputs {
                width: 50%;
                padding: 24px;
                gap: 24px;
                border-radius: 12px;
                border: 1px solid #EDEDED;
                background: #F8F8F8;

                .form-title {
                    color: #000;
                    text-align: center;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 120%;
                }

                .input-pair {
                    display: flex;
                    align-items: flex-start;
                    gap: 16px;
                    align-self: stretch;

                    .input-with-label {
                        width: 50% !important;
                    }
                }

                .send-message {
                    width: fit-content;
                }
            }

            .contact-infos {
                width: 50%;
                gap: 32px;

                &-head {
                    padding: 24px;
                    gap: 24px;
                    border-radius: 12px;
                    border: 1px solid #EDEDED;
                    background: #F8F8F8;

                    .infos-title {
                        color: #000;
                        text-align: left;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 120%;
                    }

                    .infos {
                        display: flex;
                        flex-direction: column;
                        border-top: 1px solid #EBEBEB;
                        padding-top: 16px;
                        gap: 12px;

                        .info-box-pair{
                            gap: 12px;
                        }

                        .info-box {
                            display: flex;
                            gap: 12px;

                            .icon-bg{
                                height: fit-content;
                            }

                            .info {
                                display: flex;
                                flex-direction: column;
                                span {
                                    &:first-child {
                                        color: #000;
                                        font-size: 16px;
                                        font-style: normal;
                                        font-weight: 500;
                                        line-height: 22px;
                                    }

                                    &:last-child {
                                        color: var(--Neutral-colors-Black-50, rgba(1, 2, 3, 0.50));
                                        font-size: 14px;
                                        font-style: normal;
                                        font-weight: 400;
                                        line-height: 22px;
                                    }
                                }
                            }
                        }
                    }
                }

                .map {
                    width: 100%;
                    height: 350px;

                    img {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                    }
                }

            }

        }

        @include mq(tablet-landscape-up) {
            padding: 50px 16px;

            .form-header {
                flex-direction: column;
            }

            .form-body {
                flex-direction: column;
                gap: 32px !important;

                .form-inputs {
                    width: 100%;

                    .form-title{
                        text-align: left;
                    }
                }

                .contact-infos {
                    width: 100%;

                    &-head {

                        .infos {
                            display: grid !important;
                            grid-template-columns: repeat(1, 1fr);

                            .info-box-pair{
                                flex-direction: column;
                            }

                            .icon-bg{
                                height: fit-content;
                            }
                        }
                    }
                }
            }
        }
    }

}