@use '../abstracts/mixins' as *;

.hydro-page-container {

    .left-bordered-cards {
        padding: 100px 200px 50px 200px;
        gap: 32px;

        @include mq(tablet-portrait-up){
            padding: 50px 16px;
        }
    }

    .text-image-card {
        padding: 50px 200px;

        @include mq(tablet-portrait-up){
            padding: 50px 16px;
        }
    }

    .feature-cards-section{
        gap: 32px;
        padding: 50px 200px 100px 200px;

        @include mq(tablet-portrait-up){
            padding: 50px 16px;
        }
    }
}