@use '../abstracts/mixins' as *;

.homepage-container {
    background-color: #fff;
    padding: 0;

    .hero-section {
        position: relative;
        height: 585px;

        img {
            @include img()
        }

        .hero-content {
            position: absolute;
            top: 50%;
            left: 20%;
            transform: translate(-20%, -50%);

            h1 {
                color: var(--Neutral-colors-White, #FFF);
                font-size: 72px;
                font-weight: 500;
            }

            p {
                color: var(--Neutral-colors-White, #FFF);
                font-size: 14px;
                font-weight: 400;
            }
        }

    }


    .homepage-services-section {

        padding: 50px 250px;

        @include flex(center, center, 50px, column);

        .section-header {

            @include flex(center, center, 16px, column);

            .section-header-name {
                color: var(--Brand-color-Brand-color, #C90200);
                text-align: center;
                font-size: 12px;
                font-weight: 400;
                text-transform: uppercase;
            }

            .section-header-title {
                color: #2D2D2D;
                text-align: center;
                font-size: 32px;
                font-weight: 500;
            }


            .section-header-info {
                color: rgba(45, 45, 45, 0.50);
                text-align: center;
                font-size: 14px;
                font-weight: 400;
            }

        }

    }

    .values-section {
        background: var(--Neutral-colors-Light-Gray, #F8F9FA);
        padding: 70px 200px;
        gap: 32px;

        .values-intro {
            gap: 16px;

            .section-title {
                color: var(--Brand-color-Brand-color, #C90200);
                font-size: 12px;
                font-weight: 400;
                text-transform: uppercase;
            }

            .intro-title {
                color: var(--Neutral-colors-Black, #010203);
                font-size: 32px;
                font-weight: 500;
            }

            .intro-picture {
                width: 362px;
                height: 217px;

                img {
                    @include img();
                }
            }

        }

        .values-cards {
            gap: 24px;

            .values-card {
                gap: 16px;
                padding: 16px;

                .card-img {
                    padding: 8px;
                    border-radius: 6px;
                    background: var(--Neutral-colors-Light-Gray-15, rgba(190, 190, 190, 0.15));
                    width: fit-content;
                }

                .card-title {
                    color: var(--Neutral-colors-Black, #010203);
                    font-size: 18px;
                    font-weight: 500;
                }

                .card-description {
                    color: var(--Neutral-colors-Black, #010203);
                    font-size: 14px;
                    font-weight: 400;
                }
            }



        }

    }

    .our-news-section {
        padding: 50px 100px;
        gap: 50px;

        .our-news-video {
            width: 80%;
            height: 350px;
            border-radius: 6px;
            overflow: hidden;

            img {
                @include img();
            }
        }

        .our-news-intro {

            .section-title {
                color: var(--Brand-color-Brand-color, #C90200);
                font-size: 12px;
                font-weight: 400;
                text-transform: uppercase;
            }

            .intro-title {
                color: var(--Neutral-colors-Black, #010203);
                font-size: 32px;
                font-weight: 500;
                margin-bottom: 16px;
            }

            .intro-description {
                color: var(--Neutral-colors-Black-50, rgba(1, 2, 3, 0.50));
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                margin-bottom: 12px;
            }

            .certificate {
                gap: 16px;

                .certificate-img {
                    width: 224px;
                    border-radius: 6px;
                    overflow: hidden;

                    img {
                        @include img();
                    }
                }

                .certificate-infos {
                    .certificate-date {
                        color: var(--Neutral-colors-Black-50, rgba(1, 2, 3, 0.50));
                        font-size: 14px;
                        font-weight: 400;
                        margin-bottom: 8px;
                    }

                    .certificate-title {
                        color: var(--Neutral-colors-Black, #010203);
                        font-size: 16px;
                        font-weight: 500;
                        margin-bottom: 16px;
                    }

                    .learn-more {
                        width: fit-content;
                        padding: 8px 16px;
                        gap: 10px;
                    }
                }
            }
        }
    }

}