@use '../abstracts/mixins' as *;

.homepage-container {

    .hero-section {
        position: relative;
        height: 585px;

        img {
            @include img()
        }

        .hero-content {
            position: absolute;
            top: 50%;
            left: 20%;
            transform: translate(-20%, -50%);

            span {
                color: var(--Neutral-colors-White, #FFF);
                font-size: 72px;
                font-weight: 500;
            }

            p {
                color: var(--Neutral-colors-White, #FFF);
                font-size: 14px;
                font-weight: 400;
            }
        }

        @include mq(phone-only) {

            .hero-content {
                width: 100%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                padding: 16px;

                span {
                    font-size: 52px;
                    text-align: center;
                    display: inline-block;
                }

                p {
                    text-align: center;
                }
            }

        }

    }

    .where-we-do {
        padding: 50px 200px;

        .section-title {
            text-align: center;
        }

        @include mq(phone-only) {
            padding: 50px 16px;
        }
    }

    .what-we-do {
        padding: 50px 200px;

        .section-title {
            text-align: center;
        }

        @include mq(phone-only) {
            padding: 50px 16px;
        }

    }

    .values-and-sustainability {
        background: var(--Neutral-colors-Light-Gray, #F8F9FA);
        padding: 70px var(--200px, 200px);
        gap: 50px;

        @include mq(phone-only) {
            padding: 70px 16px;
            flex-direction: column;
        }

        .section-intro {
            width: 30%;

            @include mq(phone-only) {
                justify-content: center;
                align-items: center;
                width: 100%;

            }
        }

        .icon-heading-cards {
            width: 70%;
            gap: 24px;

            @include mq(phone-only) {
                width: 100%;
            }
        }
    }

    .our-news-section {
        padding: 50px 100px 50px 100px;

        .our-news-video {
            width: 40%;
            height: 350px;
            border-radius: 6px;
            overflow: hidden;

            img {
                @include img();
            }
        }

        .our-news-intro {
            width: 60%;

            .certificate {
                gap: 16px;

                .certificate-img {
                    width: 224px;
                    border-radius: 6px;
                    overflow: hidden;

                    img {
                        @include img();
                    }
                }

                .certificate-infos {
                    .certificate-date {
                        color: var(--Neutral-colors-Black-50, rgba(1, 2, 3, 0.50));
                        font-size: 14px;
                        font-weight: 400;
                        margin-bottom: 8px;
                    }

                    .certificate-title {
                        color: var(--Neutral-colors-Black, #010203);
                        font-size: 16px;
                        font-weight: 500;
                        margin-bottom: 16px;
                    }

                    .learn-more {
                        width: fit-content;
                        padding: 8px 16px;
                        gap: 10px;
                    }
                }
            }
        }

        @include mq(phone-only) {
            padding: 50px 16px;
            flex-direction: column;

            .our-news-video{
                width: 100%;
                max-height: 343px;
            }

            .our-news-intro{
                width: 100%;
                gap: 32px;

                .section-header{
                    .section-title{
                        text-align: left;
                    }

                    .section-description{
                        text-align: left;
                    }
                }
            }

            .certificate{
                flex-direction: column;
            }
        }
    }

}