@use '../abstracts/mixins' as *;

.news-page-container{

    .news-section{

        padding: 100px 200px;

        .news-cards{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            column-gap: 24px;
            row-gap: 50px;
        }

        @include mq(phone-only){
            padding: 100px 16px;

            .news-cards{
                grid-template-columns: repeat(1, 1fr);
            }
        }

    }

}