.our-purpose-container {

    .renewable-energy {
        padding: 100px 200px 50px 200px;
    }

    .power-change {

        padding: 50px 200px 100px 200px;

        .section-body {

            .power-change-cards {

                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 50px;

                .card {
                    gap: 32px;
                    padding: 24px;
                    background: var(--Neutral-colors-Light-Gray, #F8F9FA);


                    .card-body {
                        gap: 10px;


                        .card-title {
                            color: var(--Neutral-colors-Black, #010203);
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 26px;
                        }

                        .card-description {
                            color: var(--Neutral-colors-Black, #010203);
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 20px;
                        }
                    }
                }
            }
        }
    }

}