@use '../abstracts/mixins' as *;

.procurement-page-container {

    .icon-text-cards-section {
        padding: 50px 200px 100px 200px;

        .icon-text-cards {
            gap: 16px;
        }

        @include mq(tablet-landscape-up) {
            padding: 50px 16px;

            .section-title {
                text-align: left;
            }
        }
    }

    .text-image-card {
        padding: 0px 200px 50px 200px;

        .section-intro {
            .section-title {
                text-align: left;
            }
        }

        @include mq(tablet-landscape-up) {
            padding: 50px 16px;
            flex-direction: column;

            .section-description {
                text-align: left;
            }
        }
    }

    .feature-cards-section {
        gap: 32px;
        padding: 50px 200px 100px 200px;

        @include mq(tablet-landscape-up) {
            padding: 50px 16px;
        }

        .section-title {
            text-align: center;
        }
    }
}