@use '../abstracts/mixins' as *;

.values-and-sustainability-container {

    .sustainabilty-practise {
        padding: 100px 200px 50px 200px;
    }

    .core-values {
        padding: 50px 200px 100px;

        .section-header{

            .section-title{
                text-align: left;
            }
        }

        .text-content{
            width: 50%;
        }

        .left-bordered-cards {
            gap: 32px;
            width: 50%;
        }
    }

    @include mq(phone-only){

        .sustainabilty-practise{
            padding: 50px 16px;
        }

        .core-values{
            padding: 50px 16px;

            .section-header{
            }

            .section-body{
                flex-direction: column;
            }

            .text-content{
                width: 100% !important;
            }

            .left-bordered-cards{
                width: 100%;
            }
        }
    }
}