.values-and-sustainability-container {

    .values-and-sustainability {
        background: var(--Neutral-colors-Light-Gray, #F8F9FA);

        .section-intro {
            width: 50%;
            padding: 100px 50px 100px 200px;
        }

        .section-image {
            width: 50%;
            height: fit-content;
        }
    }

    .sustainabilty-practise {
        padding: 100px 200px 50px 200px;

        .section-intro{
            width: 50%;

            .section-title{
                text-align: left;
            }
        }

        .section-text {
            width: 50%;

            p {
                color: var(--Neutral-colors-Dark-Gray, #3C3C3C);
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px;
            }

        }
    }

    .core-values {
        padding: 50px 200px 100px;

        .section-header{

            .section-title{
                text-align: left;
            }
        }

        .text-content{
            width: 50%;
        }

        .left-bordered-cards {
            gap: 32px;
            width: 50%;
        }
    }
}