.values-and-sustainability-container {

    .sustainabilty-practise {
        padding: 100px 200px 50px 200px;
    }

    .core-values {
        padding: 50px 200px 100px;

        .section-header{

            .section-title{
                text-align: left;
            }
        }

        .text-content{
            width: 50%;
        }

        .left-bordered-cards {
            gap: 32px;
            width: 50%;
        }
    }
}